.browse-services-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  padding: 20px;
  background-color: white; /* Light background color */
  text-align: center; /* Center the text within the container */
  margin-top: 2rem;
}

.browse-services-header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ed560e;
}

.browse-services-description {
  font-size: 20px;
  font-weight: 450;
  margin-bottom: 20px;
  max-width: 600px; /* Optional: Limit the width of the description */
}

.service-cards-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap; /* Allow the cards to wrap to the next line */
  justify-content: center; /* Center the cards horizontally */
  gap: 20px; /* Space between the cards */
}

.product-and-services {
  background-color: #ed560e; /* Change background color to white */
  color: white; /* Adjust text color to match the border */
  border: 2px solid #ed560e; /* Add border color */
  border-radius: 50px;
}

.service-card {
  background-color: #f9f9f9;
  border: 2px solid #ed560e; /* Add border color */
  border-radius: 8px;
  width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: left; /* Align text to the left */
}

.service-card-image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ed560e; /* Add border color between image and text */
  margin-bottom: 15px;
}

.service-card-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.service-card-description {
  font-size: 1em;
  margin: 10px 0;
}

.service-card-button {
  background-color: #ed560e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left; /* Align button text to the left */
}

.service-card-button:hover {
  background-color: #ed560e;
}
