.footer {
  background-color: white; /* Dark background color */
  padding: 20px;
  text-align: center;
}

.footer-columns {
  display: flex;
  justify-content: space-between; /* Space between columns */
  margin-bottom: 20px;
}

.footer-column {
  font-weight: bold;
  color: #ed560e;
  flex: 1;
  padding: 0 10px; /* Add padding to the left and right for spacing */
  text-align: left; /* Align text to the left */
  margin-left: 5rem;
}

.footer-column h4 {
  margin-bottom: 2rem;
}

.footer-list {
  color: #ed560e;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-item {
  margin-bottom: 0.5rem;
}

.footer-item a {
  color: #ed560e; /* Light text color for links */
  font-weight: bold;
  text-decoration: none;
}

.footer-item a:hover {
  text-decoration: underline; /* Underline on hover */
}

.footer-bottom {
  display: flex;
  justify-content: space-between; /* Space between links and trademark */
  align-items: center; /* Center items vertically */
  border-top: 1px solid #555; /* Add a top border for separation */
  padding-top: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links .footer-item {
  display: inline; /* Display links inline */
  margin-right: 15px; /* Space between links */
}

.footer-trademark {
  margin: 0;
}
