/* Import Poppins font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.header {
  background-color: white;
}

.header-logo {
  height: 7rem; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}

.header-title {
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  margin-left: 2rem; /* Add space between "My App" and the dropdowns */
}

.navbar-item {
  margin: 0 1rem;
  margin-right: 1.5rem; /* Add space between navbar items */
  position: relative;
}

.navbar-item a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.navbar-item a:hover {
  text-decoration: underline;
}

.dropdown-toggle::after {
  content: " ▼";
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #444;
  padding: 0.5rem;
  border-radius: 0.25rem;
  top: 100%;
  left: 0;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #555;
}

.navbar-actions {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.search-button {
  background-color: transparent;
  color: black;
  border: none;
  font-weight: 750;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left; /* Align button text to the left */
}

.search-icon {
  margin-left: 0.5rem;
}

.search-button:hover {
  background-color: #0056b3;
}

.action-button {
  background-color: #ed560e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 750;
  border-radius: 5px;
  cursor: pointer;
  text-align: left; /* Align button text to the left */
}

.action-button:hover {
  background-color: #0056b3;
}

.search-bar-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.search-bar-container.show {
  opacity: 1;
  max-height: 100px; /* Adjust based on the height of the search bar */
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  position: relative;
}

.search-bar-icon {
  position: absolute;
  left: 10px;
  color: #ccc;
}

.long-search-bar {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.close-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
}

.close-button:hover {
  color: #000;
}
